*.iws
*Db.properties
*Db.script
*.war
.settings
.link_to*
eclipse
.DS_Store
stacktrace.log
target
target-eclipse
/plugins
/web-app/plugins
/web-app/WEB-INF/classes
web-app/WEB-INF/tld/c.tld
web-app/WEB-INF/tld/fmt.tld
web-app/places
grails-app/assets/images/places
web-app/categories
grails-app/assets/images/categories
web-app/events
grails-app/assets/images/events
web-app/users
grails-app/assets/images/users
out
*.iml
.idea/
/bin/
cobertura.ser
